.loader {
  display: flex;
  margin:auto;
  left:0;
  right:0;
  top:0;
  bottom:0;
  position:fixed;
}
table {
  width: 100%;
}
.mat-icon {
  width: 15px;
  height: 15px;
  font-size: 15px;
}
.mat-column {
  &-position {
  width: 32px;
  border-right: 1px solid currentColor;
  padding-right: 24px;
  text-align: center;
}

&-name {
  padding-left: 16px;
  font-size: 20px;
}

&-weight {
  font-style: italic;
}

&-symbol {
  width: 32px;
  text-align: center;
  font-weight: bold;
}
}